.button-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.AuthButton{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: #8da3df; 
    color: white;
}