.container-inp {
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
}

.container-inp input{
  transition: all 5s ease;
}

input{
  border-radius: 5px;
  width: 100%;
  height: 35px;
  border: 1px solid #8da3df;
  padding-left: 5px;
  background-color: rgb(255, 255, 255);
}

input::placeholder{
  color: rgb(173, 173, 173);
  transition: opacity 0.5s ease;
}

input:focus::placeholder {
  opacity: 0;
}



