
.form-container{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid #8da3df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
